[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pymupdf = "*"
opencv-python = "*"
jupyter = "*"
notebook = "*"
scipy = "*"
pandas = "*"
sklearn = "*"

[requires]
python_version = "3.7"
